.project-title {
    color: white;
    font-size: large;
    padding: 1em;
    /* margin-left: 14em; */
    /* margin-right: 252px; */
    padding-top: 23px;
    width: 21px;
    border-left-color: white;
    border-left-style: solid;
}
